<div class="filters">
    <h4 class="filters__title u-show u-hide--s768">Filtros</h4>
    <span class="wrapper-svg u-icon u-flex--inline filters__close u-show u-hide--s768" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
        {% include '../svg/icon-close.twig' %}
    </span>
    <ul class="filters__list">
        <li class="filters__item filters__item--filter1">
            <span class="wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-podium.twig' %}
            </span>
            Puesto
            <input type="number" id="js-puesto" name="puesto"  min="1" max="12700">
        </li>
        <li class="filters__item filters__item--place">
            <label for="selectPlace">
            <span class="wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-location.twig' %}
            </span>
            Ciudad 
            <span class="filters__arrow wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-arrow-down.twig' %}
            </span>
            </label>
            <select name="" id="selectPlace"></select>
        </li>
        <li class="filters__item filters__item--filter3">
            <label for="selectSubject">
            <span class="wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-doctor.twig' %}
            </span>
            Especialidad 
            <span class="filters__arrow wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-arrow-down.twig' %}
            </span>
            </label>
            <select name="" id="selectSubject"></select>
        </li>
        <li class="filters__item filters__item--filter4">
            <span class="wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-medal.twig' %}
            </span>
            Nivel centro 
            <span class="filters__arrow wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-arrow-down.twig' %}
            </span>
        </li>
        <li class="filters__item filters__item--filter5">
            <span class="wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-hospital.twig' %}
            </span>
            Centro 
            <span class="filters__arrow wrapper-svg u-icon u-flex--inline" {% if aria_title is empty %}aria-hidden="true"{% else %}aria-label="{{ aria_title }}"{% endif %}>
                {% include '../svg/icon-arrow-down.twig' %}
            </span>
            <select name="" id="selectCenter"></select>
        </li>
    </ul>
</div>
